body {
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .btn-group {
    margin-bottom: 20px;
  }
  
  .nav-menu {
    padding: 30px 0 0 0;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a,
  .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 10px;
    transition: 0.3s;
    font-size: 15px;
  }
  
  .nav-menu a i,
  .nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
  }
  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-menu a:hover i,
  .nav-menu .active i,
  .nav-menu .active:focus i,
  .nav-menu li:hover>a i {
    color: #149ddd;
  }
 
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    padding: 15px;
    color: #f4f6fd;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background: #040b14;
  }
  
  #footer .copyright {
    text-align: center;
  }
  
  #footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #eaebf0;
  }
  
  @media (max-width: 1199px) {
    #footer {
      position: static;
      width: auto;
      padding-right: 20px 15px;
    }
  }